:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 169, 38);
    background-color: rgba(35, 35, 33);
}

.container {
    margin: 2% 5%;
}

header {
    display: flex;
    margin: 0 4% 0 2%;
}

nav {
    display: flex;
    align-items: flex-end;
    font-size: 1.25em;
    font-weight: 700;
}

#contactButton {
    height: 6vh;
    border-radius: 5%;
    background-color: rgba(52, 192, 33, 0.938);
    font-weight: 800;
    font-size: 0.75em;
}

.top a {
    text-decoration: none;
    padding-right: 1em;
    color: rgb(77, 32, 184);
}

#image {
    display: flex;
    align-items: center;
    width: 25%;
}

#profile-image {
    width: 90%;
}

.title {
    width: 60%;
    font-size: 1.5em;
}

.header-h2,
.title {
    margin: inherit;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3.25em 0;
}

.introduction {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.introduction h1 {
    font-size: 3.0em;
    margin: 0;
}

.buttons {
    margin-top: 1.5em;
}

button {
    border-radius: 100%;
    width: 8em;
    height: 8em;
    margin: 0.35em;
    font-weight: 700;
    color: white;
    border: none;
}

#button-red {
    background-color: rgba(236, 18, 51, 0.938);
}

#button-green {
    background-color: rgba(52, 192, 33, 0.938);
}

#button-blue {
    background-color: rgba(31, 107, 194, 0.938);
}

.bottom {
    display: flex;
    height: 10vh;
    justify-content: center;
}

.footer-icons-languages {
    display: flex;
    width: 45%;
}

.footer-icons-loading {
    display: flex;
    width: 45%;
    justify-content: flex-end;
}

.footer-h2 {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.footer-img {
    margin: 0 0.25em;
}


/* modal */

#modal {
    display: block;
    position: relative;
    left: 33%;
    top: 40%;
}

.modalContent {
    display: none;
    background-color: white;
    z-index: 10;
    padding: 0.25em 0.75em 0.75em 0.75em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    width: 33%;
}

.modal-content ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.closeTag {
    float: right;
    font-size: 1em;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: end;
}

.closeTag:hover,
.closeTag:focus {
    text-decoration: none;
    cursor: pointer;
}