:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #a5e2ef;
    margin: 0 4%;
}

:root ul {
    list-style-type: none;
    padding-left: 0;
}

.header {
    display: flex;
    border-bottom: 0.5px solid grey;
}

.header a {
    text-decoration: none;
    color: rgb(0, 46, 252);
}

.header #contact-info {
    color: rgb(228 128 24);
}

.header h1 {
    width: 70%;
}

.profile {
    border-bottom: 0.5px solid grey;
    display: flex;
    align-items: baseline;
    margin-top: 0px;
}

.profile p {
    margin-left: 5em;
}

#personal h2 {
    width: 25%;
    margin-top: 0;
}

#personal h4 {
    width: 25%;
}

#personal {
    display: flex;
}

.technical-skills {
    border-bottom: 0.5px solid grey;
    margin-top: 2em;
}

#personal-skills,
#languages {
    font-size: 1.25em;
    font-weight: bold;
    width: 50%;
}

#personal-skills li,
#languages li {
    margin-bottom: 0.5em;
}

#personal-skills ul,
#languages ul {
    margin-top: 0;
}

#technical {
    display: flex;
}

#technical h2 {
    width: 25%;
    margin-top: 0;
}

#experience {
    display: block;
}

.job-description {
    display: flex;
}

.title {
    width: 70%;
}

#title-experience h2 {
    margin-bottom: 0;
}

.description {
    margin-left: 12.5em;
    border-bottom: 0.5px solid grey;
}

.references {
    margin-top: 0.75em;
    font-weight: bolder;
    font-size: 1.25em;
    text-align: right;
}


/* font style */

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

h4 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

h5 {
    font-size: 1.25em;
}